<%- layout('layouts/boilerplate') -%>

<div>
    <% include ./partials/navbar.ejs %>
    <!-- MAIN DISPLAY -->
    <div class="fullscreen">
        <div class="backdrop w-100 h-100"></div>
        <div class="image-backdrop w-100 h-100"></div>
        <div class="main-display h-100">
            <div class="jumbotron">
                <h3 class="text-white lead">
                    <em>
                        "In Him the whole structure being joined together, grows into a holy temple in the Lord."
                    </em>
                </h3>
                <p class="lead text-white d-none d-sm-block">Ephesians 2:21</p>
                <br>
                <a class="btn btn-lg red-button rounded-0" href="/visit" role="button">ATTEND A SERVICE</a>
            </div>
        </div>
    </div>
    <!-- PANELS -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm panel-text">
                <div class="lead">
                    We conduct our morning worship service at 2:00 pm
                    every Sunday. The sermons are streamed live via GoToMeeting
                    and uploaded to 
                    <a href="https://www.youtube.com/channel/UCT56wV9Fwy1GluE_U1jJmDw" target="_blank">Youtube</a> and this website afterwards.
                    <br><br>
                    <a href="/sermons" class="text-dark">
                        <strong>
                            <span>View Sermons</span> 
                            <span class="font-weight-bold chevron">></span>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="col-sm panel-pic d-none d-sm-block" style="background-image: url('/images/panel/sermon-panel-img.png')"></div>
        </div>
        <div class="row">
            <div class="col-sm panel-pic d-none d-sm-block" style="background-image: url('/images/bible-study-event.JPG')"></div>
            <div class="col-sm panel-text">
                <div class="lead">
                    We are a Reformed Baptist Christian Church in Edmonton, Alberta.
                    You can click below to find out what we believe in, and get to know 
                    our ministry.
                    <br><br>
                    <a href="/expectation" class="text-dark">
                        <strong>
                            <span>What To Expect</span> 
                            <span class="font-weight-bold chevron">></span>
                        </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--LOCATION-->
    <div class="location-cont">
        <div class="backdrop w-100 h-100"></div>
        <div class="location-image w-100 h-100" style="background-image: url('https://mefc.ca/wp-content/uploads/2016/11/Building-pic.jpg')"></div>
        <div class="location-text text-white lead text-center w-100 px-4">
            <p>
                Join us every Sunday at 2:00 pm for our family worship time. 
                We are currently meeting at Millwoods Evangelical Free Church which is located at
                1559 80 St NW, Edmonton, AB T6K 4A8.
            </p>
            <a class="btn btn-lg btn-outline-light rounded-0" href="/visit" role="button">PLAN YOUR VISIT</a>
        </div>
    </div>
    <!--EVENTS-->
    <div class="py-5">
        <h3 class="text-center font-weight-light mt-5">Events</h3>
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
        <% events.forEach( event => {%>
        <a class="card mx-2 shadow-lg bg-white rounded my-4" style="width: 30rem; text-decoration: none;" role="button" href="/events/<%=event._id%>">
            <img class="card-img-top" src="/images/event/bible-study-event.JPG" alt="Card image cap">
            <div class="card-body text-dark">
                <h5 class="card-title"><%=event.title%></h5>
                <small> <i class="calendar alternate outline icon"></i> <%=event.dayOfWeek%>s at <%=event.time%></small>&nbsp;&nbsp;
                <small> <i class="map marker alternate icon"></i> <%=event.location.join(", ")%></small>
            </div>
        </a>
        <% }); %>
        </div>   
    </div>
</div>
